version: '3'
services:
  python-server:
    build: ./python-server
    ports:
      - "8000:8000"
    volumes:
      - ./python-server/src:/app/src
  node-server:
    build: ./node-server
    ports:
      - "8001:8001"  
      